<div class='container'>
  <p style="color: green"><%= notice %></p> 

  <%= @category.name %>
  <br>
  <%= link_to 'New Post', new_post_path , class:'text-decoration-none' %>
  <br>
  <%= link_to "Edit this category", edit_category_path(@category) , class:'text-decoration-none' %> 
  <br>
  <%= link_to "Back to categories", categories_path , class:'text-decoration-none' %>
  <br>
  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
